@charset "UTF-8";

body {
  font-family: Merriweather, serif;
  color: #444;
}

h1 {
  font-size: 4em;
}

article {
  font-size: 1.25em;
  line-height: 2em;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

a, a:visited {
  color: #7890A8;
}

.container {
  text-align: center;
  margin: 5%;
}

.avatar {
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  background-image: url('/images/profile.png');
  /* make a square container */
  width: 150px;
  height: 150px;
  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;
  /* center the image vertically and horizontally */
  background-position: center;
  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
  margin: 0 auto;
}

.social {
  font-size: 2em;
  line-height: 2em;
}

.social a:link, .social a:visited {
  text-decoration: none;
}

.social i {
  font-size: 42px;
}
